@model IEnumerable<TedarikYonetim.Model.Product>

@{
    ViewData["Title"] = "Ürün Listesi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Ürün</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Anasayfa</a></li>
                        <li class="breadcrumb-item active">Ürün Listesi</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Ürün Listesi</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example2" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.UpperCategoryId)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.SubCategoryId)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Name)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.SupplierId)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.SupplierGetType)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.BuyPrice)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Material)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Pattern)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Color)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.PacketContent)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Description)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ProductFix)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.UserId)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ProductState)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ProductWidth)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ProductDepth)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ProductHeight)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ProductWeight)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ModuleCBM)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.KDV)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.PacketAmount)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.CreateDate)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.UpdateDate)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.IsDelete)
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.UpperCategoryId)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.SubCategoryId)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.SupplierId)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.SupplierGetType)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.BuyPrice)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Material)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Pattern)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Color)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.PacketContent)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Description)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ProductFix)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.UserId)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ProductState)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ProductWidth)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ProductDepth)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ProductHeight)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ProductWeight)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ModuleCBM)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.KDV)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.PacketAmount)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CreateDate)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.UpdateDate)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.IsDelete)
                                        </td>
                                        <td>
                                            <a asp-action="Edit" asp-route-id="@item.ProductId">Edit</a> |
                                            <a asp-action="Details" asp-route-id="@item.ProductId">Details</a> |
                                            <a asp-action="Delete" asp-route-id="@item.ProductId">Delete</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
