@model IEnumerable<TedarikYonetim.Model.Supplier>

@{
    ViewData["Title"] = "Tedarikçi Listesi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Tedarikçi</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Anasayfa</a></li>
                        <li class="breadcrumb-item active">Tedarikçi Listesi</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Tedarikçi Listesi</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example2" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>

                                    </th>
                                    <th>
                                        Unvan
                                    </th>
                                    <th>
                                        Marka
                                    </th>
                                    <th>
                                        Cep Telefonu
                                    </th>
                                    <th>
                                        E- Mail
                                    </th>
                                    <th>
                                        Durum
                                    </th>
                                    <th>
                                        Teslim Türü
                                    </th>
                                    <th>
                                        Ödeme Türü
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            <a href="/Product/GetProductSupplier/@item.SupplierId" class="btn btn-default">Ürünleri Gör</a>
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Title)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Brand)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.MobilePhone)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.EMail)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.State)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.DeliveryType)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.PayType)
                                        </td>
                                        <td>
                                            @if (item.State == "Pasif")
                                            {
                                                <a asp-action="Update" asp-route-id="@item.SupplierId" hidden="hidden">Güncelle</a> 
                                            }
                                            else
                                            {
                                                <a asp-action="Update" asp-route-id="@item.SupplierId">Güncelle</a>
                                            }
                                            <a asp-action="ActivePassive" asp-route-id="@item.SupplierId">Sil</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->